<div class="container mt-3">
    <ngb-accordion #acc="ngbAccordion" activeIds="panelArquivos, panelInseridos, panelRemovidos">
        <ngb-panel type="dark" id="panelArquivos">
            <ng-template ngbPanelTitle>
                <h5 style="color: white">Arquivo K <span class="badge badge-info">{{dadosK200.length}}</span></h5>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="row">
                    <div class="col-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputFileTxt"
                                (change)="onFileInputTxtChange($event)" accept=".txt">
                            <label class="custom-file-label" for="inputFileTxt"
                                data-browse="Procurar">{{labelInputFileTxt}}</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputFileXlsx"
                                (change)="onFileInputXlsxChange($event)" accept=".xlsx"
                                [disabled]="inputFileXlsxStatus">
                            <label class="custom-file-label" for="inputFileXlsx"
                                data-browse="Procurar">{{labelInputFileXlsx}}</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <input class="form-control" type="text" placeholder="Filtro rápido..." #filtro
                            (input)="agGrid.api.setQuickFilter(filtro.value)" />
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <ag-grid-angular #agGrid style="width: 100%; height: 600px;" class="ag-theme-balham"
                            [columnDefs]="columnDefs" [defaultColDef]="defaultColDef" [getRowNodeId]="getRowNodeId"
                            [rowData]="dadosK200" [modules]="modules" [rowClassRules]="rowClassRules">
                        </ag-grid-angular>
                    </div>
                </div>
                <div class="d-flex justify-content-around mt-3">
                    <button type="button" class="btn btn-danger" (click)="onClickRemover()">Remover produto</button>
                    <button type="button" class="btn btn-warning" [disabled]="dadosK200Removidos.length === 0"
                        (click)="onClickDesfazerExclusao()">Desfazer exclusão</button>
                    <button type="button" class="btn btn-primary" [disabled]="dadosK200.length === 0"
                        (click)="onClickBaixarArquivo()">Baixar arquivo</button>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel type="dark" id="panelRemovidos">
            <ng-template ngbPanelTitle>
                <h5 style="color: white">Removidos <span class="badge badge-danger">{{dadosK200Removidos.length}}</span></h5>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="row">
                    <div class="col-12">
                        <ag-grid-angular #agGridRemovidos style="width: 100%; height: 600px;" class="ag-theme-balham"
                            [columnDefs]="columnDefs" [getRowNodeId]="getRowNodeId" [rowData]="dadosK200Removidos"
                            [modules]="modules">
                        </ag-grid-angular>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
        <ngb-panel type="dark" id="panelInseridos">
            <ng-template ngbPanelTitle>
                <h5 style="color: white">Inseridos <span class="badge badge-success">{{dadosK200Inseridos.length}}</span></h5>
            </ng-template>
            <ng-template ngbPanelContent>
                <div class="row">
                    <div class="col-12">
                        <ag-grid-angular #agGridInseridos style="width: 100%; height: 300px;" class="ag-theme-balham"
                            [columnDefs]="columnDefs" [getRowNodeId]="getRowNodeId" [rowData]="dadosK200Inseridos"
                            [modules]="modules">
                        </ag-grid-angular>
                    </div>
                </div>
            </ng-template>
        </ngb-panel>
    </ngb-accordion>
</div>